{% extends 'admin/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>

<div class="content-block">

    <p>The secure login and registration system is a robust, fast, and innovative project developed by <a class="link1" href="https://codeshack.io" target="_blank">CodeShack</a>.</p>

    <p>You are currently using <b>Version 1.2.0</b>. For updates and support, click <a class="link1" href="https://codeshack.io/package/python/advanced-secure-login-registration-system/" target="_blank">here</a>.</p>

</div>
{% endblock %}