{% extends 'admin/layout.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}

<h2>Accounts</h2>

{% if msg: %}
<div class="msg success">
    <i class="fas fa-check-circle"></i>
    <p>{{ msg }}</p>
    <i class="fas fa-times"></i>
</div>
{% endif %}

<div class="content-header links">
    <a href="{{ url_for('admin_account') }}">Create Account</a>
    <form action="" method="get" class="filters-form">
        <div class="filters">
            <a href="#"><i class="fas fa-filter"></i> Filters</a>
            <div class="list">
                <label><input id="status_active" type="checkbox" name="status" value="active"{{ ' checked' if status=='active' else '' }}>Active</label>
                <label><input id="status_inactive" type="checkbox" name="status" value="inactive"{{ ' checked' if status=='inactive' else '' }}>Inactive</label>
                <label><input id="activation_pending" type="checkbox" name="activation" value="pending"{{ ' checked' if activation=='pending' else '' }}>Pending Activation</label>
                {% if role: %}
                <label><input id="role" type="checkbox" name="role" value="{{ role }}" checked>{{ role }}</label>
                {% endif %}
                <button type="submit">Apply</button>
            </div>
        </div>
        <div class="search">
            <label for="search">
                <input id="search" type="text" name="search" placeholder="Search username or email..." value="{{ search }}" class="responsive-width-100">
                <i class="fas fa-search"></i>
            </label>
        </div>
    </form>
</div>

<div class="content-block">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/id/1">#{% if order_by=='id': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/username/1">Username{% if order_by=='username': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td class="responsive-hidden"><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/email/1">Email{% if order_by=='email': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td class="responsive-hidden"><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/activation_code/1">Activation Code{% if order_by=='activation_code': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td class="responsive-hidden"><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/role/1">Role{% if order_by=='role': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td class="responsive-hidden"><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/registered/1">Registered Date{% if order_by=='registered': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td class="responsive-hidden"><a href="{{ url }}/{{ 'DESC' if order == 'ASC' else 'ASC' }}/last_seen/1">Last Seen{% if order_by=='last_seen': %}<i class="fas fa-level-{{ order.replace('ASC', 'up').replace('DESC', 'down') }}-alt fa-xs"></i>{% endif %}</a></td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% if not accounts: %}
                <tr>
                    <td colspan="8" style="text-align:center;">There are no accounts</td>
                </tr>
                {% endif %}
                {% for account in accounts: %}
                <tr>
                    <td>{{ account['id'] }}</td>
                    <td>{{ account['username'] }}</td>
                    <td class="responsive-hidden">{{ account['email'] }}</td>
                    <td class="responsive-hidden">{{ account['activation_code'] if account['activation_code'] else '--' }}</td>
                    <td class="responsive-hidden">{{ account['role'] }}</td>
                    <td class="responsive-hidden">{{ account['registered'] }}</td>
                    <td class="responsive-hidden" title="{{ account['last_seen'] }}">{{ time_elapsed_string(account['last_seen']) }}</td>
                    <td>
                        <a href="{{ url_for('admin_account') }}/{{ account['id'] }}">Edit</a>
                        <a href="{{ url_for('admin_delete_account') }}/{{ account['id'] }}" onclick="return confirm('Are you sure you want to delete this account?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="pagination">
    {% if page > 1: %}
    <a href="{{ url }}/{{ order }}/{{ order_by }}/{{ page-1 }}">Prev</a>
    {% endif %}
    <span>Page {{ page }} of {{ 1 if math.ceil(accounts_total/results_per_page) == 0 else math.ceil(accounts_total/results_per_page) }}</span>
    {% if page * results_per_page < accounts_total: %}
    <a href="{{ url }}/{{ order }}/{{ order_by }}/{{ page+1 }}">Next</a>
    {% endif %}
</div>

<script>
document.querySelector(".filters-form").onsubmit = event => {
    event.preventDefault();
    let url = "{{ url_for('admin_accounts') }}/n0/" + (document.querySelector("input[name='search']").value ? document.querySelector("input[name='search']").value : 'n0') + "/";
    if (document.querySelector("#status_active").checked) {
        url += document.querySelector("#status_active").value;
    } else if (document.querySelector("#status_inactive").checked) {
        url += document.querySelector("#status_inactive").value;
    } else {
        url += "n0";
    }
    url += "/" + (document.querySelector("#activation_pending").checked ? document.querySelector("#activation_pending").value : "n0") + "/";
    if (document.querySelector("#role") && document.querySelector("#role").checked) {
        url += document.querySelector("#role").value
    } else {
        url += "n0";
    }
    url += "/{{ order if order else 'n0' }}/{{ order_by if order_by else 'n0' }}/1";
    window.location.href = url;
};
</script>

{% endblock %}