<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="admin">
        <aside class="responsive-width-100 responsive-hidden">
            <h1>Admin Panel</h1>
            <a href="{{ url_for('admin') }}"{{ ' class=selected' if selected == 'dashboard' else '' }}><i class="fas fa-tachometer-alt"></i>Dashboard</a>
            <a href="{{ url_for('admin_accounts') }}"{{ ' class=selected' if selected == 'accounts' else '' }}><i class="fas fa-users"></i>Accounts</a>
            <div class="sub">
                <a href="{{ url_for('admin_accounts') }}"{{ ' class=selected' if selected == 'accounts' and selected_child == 'view' else '' }}><span>&#9724;</span>View Accounts</a>
                <a href="{{ url_for('admin_account') }}"{{ ' class=selected' if selected == 'accounts' and selected_child == 'manage' else '' }}><span>&#9724;</span>Create Account</a>
            </div>
            <a href="{{ url_for('admin_roles') }}"{{ ' class=selected' if selected == 'roles' else '' }}><i class="fas fa-list"></i>Roles</a>
            <a href="{{ url_for('admin_emailtemplate') }}"{{ ' class=selected' if selected == 'emailtemplate' else '' }}><i class="fas fa-envelope"></i>Email Templates</a>
            <a href="{{ url_for('admin_settings') }}"{{ ' class=selected' if selected == 'settings' else '' }}><i class="fas fa-tools"></i>Settings</a>
        </aside>
        <main class="responsive-width-100">
            <header>
                <a class="responsive-toggle" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="space-between"></div>
                <a href="{{ url_for('admin_about') }}" class="right"><i class="fas fa-question-circle"></i></a>
                <a href="{{ url_for('admin_account', id=session['id']) }}" class="right"><i class="fas fa-user-circle"></i></a>
                <a href="{{ url_for('logout') }}" class="right"><i class="fas fa-sign-out-alt"></i></a>
            </header>
            {% block content %}{% endblock %}
        </main>
        <script>
        let aside = document.querySelector("aside"), main = document.querySelector("main"), header = document.querySelector("header");
        let asideStyle = window.getComputedStyle(aside);
        if (localStorage.getItem("admin_menu") == "closed") {
            aside.classList.add("closed", "responsive-hidden");
            main.classList.add("full");
            header.classList.add("full");
        }
        document.querySelector(".responsive-toggle").onclick = event => {
            event.preventDefault();
            if (asideStyle.display == "none") {
                aside.classList.remove("closed", "responsive-hidden");
                main.classList.remove("full");
                header.classList.remove("full");
                localStorage.setItem("admin_menu", "");
            } else {
                aside.classList.add("closed", "responsive-hidden");
                main.classList.add("full");
                header.classList.add("full");
                localStorage.setItem("admin_menu", "closed");
            }
        };
        document.querySelectorAll(".tabs a").forEach((element, index) => {
            element.onclick = event => {
                event.preventDefault();
                document.querySelectorAll(".tabs a").forEach((element, index) => element.classList.remove("active"));
                document.querySelectorAll(".tab-content").forEach((element2, index2) => {
                    if (index == index2) {
                        element.classList.add("active");
                        element2.style.display = "block";
                    } else {
                        element2.style.display = "none";
                    }
                });
            };
        });
        if (document.querySelector(".filters a")) {
            let filtersList = document.querySelector(".filters .list");
            let filtersListStyle = window.getComputedStyle(filtersList);
            document.querySelector(".filters a").onclick = event => {
                event.preventDefault();
                if (filtersListStyle.display == "none") {
                    filtersList.style.display = "flex";
                } else {
                    filtersList.style.display = "none";
                }
            };
            document.onclick = event => {
                if (!event.target.closest(".filters")) {
                    filtersList.style.display = "none";
                }
            };
        }
        document.querySelectorAll(".msg").forEach(element => {
            element.querySelector(".fa-times").onclick = () => {
                element.remove();
                history.replaceState && history.replaceState(null, '', location.pathname.replace(/\/msg[?123456]+/, '/n0') + location.hash);
            };
        });
        history.replaceState && history.replaceState(null, '', location.pathname.replace(/\/msg[?123456]+/, '/n0') + location.hash);
        </script>
    </body>
</html>