{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<section class="py-5 bg-light">
    <div class="container">


        <div class="row removable">
            <div class="col-lg-8">
                <h2 class=""></h2>
                <h2 class="">Yay! We were able to train a model and save it to your repository for future use.</h2>
                <div class="row removable">
                    <div class="col-lg-12"></div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row removable">
            <div class="col-xl-3 col-sm-6">
                <div class="card mb-4 bg-success-soft">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <h4 class="font-weight-bolder text-success mb-0">
                                        {{ rcount }}
                                    </h4>
                                    <p class="text-sm text-capitalize font-weight-bold">Rows Analyzed</p>


                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xl-3 col-sm-6">
                <div class="card mb-4 bg-info-soft">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <h4 class="font-weight-bolder text-info mb-0">
                                        {{uvals}}
                                    </h4>
                                    <p class="text-sm text-capitalize  font-weight-bold">Unique Categories</p>


                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-info shadow text-center border-radius-md ms-auto">
                                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card mb-4 bg-warning-soft">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <h4 class="font-weight-bolder text-warning mb-0">
                                        {{urows}}
                                    </h4>
                                    <p class="text-sm text-capitalize font-weight-bold">Unique Comments</p>


                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-warning shadow text-center border-radius-md ms-auto">
                                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-3 col-sm-6">
                <div class="card mb-4 bg-danger-soft">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <h4 class="font-weight-bolder text-danger mb-0">
                                        {{dups}}
                                    </h4>
                                    <p class="text-sm text-capitalize font-weight-bold">Duplicate Rows</p>


                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-danger shadow text-center border-radius-md ms-auto">
                                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="row removable">
            <div class="col-lg-12">
                <div class="row removable">
                    <div class="col-lg-6">
                        <div class="card mb-4 z-index-2">
                            <div class="card-header pb-0">
                                <h6 class="mb-1">Categories and Row Count</h6>
                            </div>
                            <div class="card-body">
                                <canvas id="barChart"></canvas>
                                <!-- <canvas class="chart-bar-stacked chartjs-render-monitor" width="607" height="303" style="display: block; width: 607px; height: 303px;"></canvas> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4 z-index-2">
                            <div class="card-header pb-0">
                                <h6 class="mb-1">Top Keywords</h6>
                            </div>
                            <div class="card-body">
                                <canvas id="barChartx"></canvas>
                                <!-- <canvas class="chart-bar-stacked chartjs-render-monitor" width="607" height="303" style="display: block; width: 607px; height: 303px;"></canvas> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row removable">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Next Steps</h6>

                                <h4>Now that you have trained a model, let's put it to use.</h4>
                                <br>
                                
                                <a href="{{ url_for('deploy_upload') }}" class="btn bg-gradient-danger mb-0">
                                    Predict
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body px-0 py-2">
                      
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row removable">
            <div class="col-lg-12"></div>
        </div>
        <div class="row removable">
            <div class="col-lg-12"></div>
        </div>
    </div>
    <!-- Footer -->

    </div>


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
    const bar = document.getElementById('barChart').getContext('2d');

    const barChart = new Chart(bar, {
        type: 'bar',
        data: {
            labels: [{% for item in x %}"{{ item }}",{% endfor %}],
    datasets: [{
        label: 'Row Count',
        data: [{% for item in y %}"{{ item }}", {% endfor %}],
        responsive: true,
            backgroundColor: ["#E30022", "#ED9121", "#2A52BE", "#DE3163", "#006B3C", "#8A3324", "#8DB600", "#964B00", "#98777B", "#A1CAF1", "#A4C639"],
                hoverBackgroundColor: ["#000000"],
                    borderWidth: 2}]
    },
    options: {
        indexAxis: 'x',

            elements: { bar: { borderWidth: 2,} },
        responsive: true,
            plugins: {
            legend: false,
      
    }
    },
  });
</script>


<script>
    const barx = document.getElementById('barChartx').getContext('2d');

    const barChartx= new Chart(barx, {
        type: 'bar',
        data: {
            labels: [{% for item in x %}"{{ item }}",{% endfor %}],
    datasets: [{
        label: 'Row Count',
        data: [{% for item in y %}"{{ item }}", {% endfor %}],
        responsive: true,
            backgroundColor: ["#E30022", "#ED9121", "#2A52BE", "#DE3163", "#006B3C", "#8A3324", "#8DB600", "#964B00", "#98777B", "#A1CAF1", "#A4C639"],
                hoverBackgroundColor: ["#000000"],
                    borderWidth: 2}]
    },
    options: {
        indexAxis: 'x',

            elements: { barx: { borderWidth: 2,} },
        responsive: true,
            plugins: {
            legend: false,
      
    }
    },
  });
</script>

<!--   Core JS Files   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="../static/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../static/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../static/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
<script src="../static/assets/js/plugins/slick.js" type="text/javascript"></script>
<!--  Plugin for the blob animation -->
<script src="../static/assets/js/plugins/anime.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="../static/assets/js/plugins/chartjs.min.js"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="../static/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="../static/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../static/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="../static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../static/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="../static/assets/demo/demo.js"></script>
<!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
<!--  Google Maps Plugin    -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<script src="../static/assets/js/blk-design-system-pro.min.js?v=1.0.0" type="text/javascript"></script>

{% endblock %}