{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    
<section class="py-5 bg-light">
    <div class="container">

          <div class="row removable">
              <div class="col-lg-6">
                  <div class="row removable">
                      <div class="col-lg-12"></div>
                  </div>
                  <div class="row removable">
                      <div class="col-lg-12">
                          <h2 class="">Let's classify your text.</h2>
                      </div>
                  </div>
                  <br><br>
                  <div class="row removable">
                      <div class="col-lg-12"></div>
                  </div>
                  <div class="row removable">
                      <div class="col-lg-12">
                          <form action="/deploy" method="POST" enctype="multipart/form-data">

                              <div class="text-dark">
                                  <p>Step 1: Upload Your CSV File</p>
                                  <input type="file" name="csvfile" id="csvfile">
                              </div>


                              <br>


                              <div class="text-dark">
                                  <p> Step 2: Select a Template</p>
                                  <select style="width: 200px" class="form-control" data-style="btn btn-link"  name="btn" type="submit">
                                    {%for i in range(0, len_)%}
                                    <!-- <div> -->
                                    <option value="{{values[i]}}">
                                        {{values[i]}}
                                    </option>
                                    <!-- </div> -->
                                    <!-- "{{values[i]}}" -->
                                    <!-- <br> -->
                                    {%endfor%}
                    
                                </select>
                              </div>


                              <br>


                              <div class="text-dark">
                                  <p> Step 3: Process Your Data</p>
                                  <button class="btn bg-gradient-danger w-auto me-2" type="submit" onclick="$('#loading').show();">
                                      Process Now
                                  </button>
                              </div>

                              <div id="loading" style="display:none;"><img src="../static/assets/img/loadingimage.gif" alt="">Please wait while we train your data model...</div>





                              <br> <br>





                          </form>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="card shadow-lg" style="margin-top:40px">
                      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                          <div class="bg-gradient-danger shadow-danger border-radius-lg p-4">
                              <h4 class="text-white mb-0">What we are doing here</h4>

                          </div>
                      </div>
                      <div class="card-body p-sm-5 pt-0">

                          <div class="accordion" id="accordionFaq">
                              <div class="accordion-item mb-3">
                                  <h6 class="accordion-header" id="headingOne">
                                      <button class="accordion-button border-bottom font-weight-bold text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                          How do I order?
                                          <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                          <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                      </button>
                                  </h6>
                                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq" style="">
                                      <div class="accordion-body text-sm opacity-8">
                                          Were not always in the position that we want to be at. Were constantly growing. Were constantly making mistakes. Were constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game
                                          of life you need to appreciate every moment. A lot of people dont appreciate the moment until its passed.
                                      </div>
                                  </div>
                              </div>
                              <div class="accordion-item mb-3">
                                  <h6 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button border-bottom font-weight-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                          How can i make the payment?
                                          <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                          <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                      </button>
                                  </h6>
                                  <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq" style="">
                                      <div class="accordion-body text-sm opacity-8">
                                          It really matters and then like it really doesnt matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesnt matter. Because it's about motivating the doers. Because Im here to
                                          follow my dreams and inspire other people to follow their dreams, too.
                                      </div>
                                  </div>
                              </div>
                              <div class="accordion-item mb-3">
                                  <h6 class="accordion-header" id="headingThree">
                                      <button class="accordion-button border-bottom font-weight-bold text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          How much time does it take to receive the order?
                                          <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                          <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                      </button>
                                  </h6>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
                                      <div class="accordion-body text-sm opacity-8">
                                          The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you
                                          believe in, if you were the only one who believed it?
                                          If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not
                                          trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer -->
     
  </div>
  <script>
      document.addEventListener("DOMContentLoaded", function(event) {
      
      if(document.querySelector('.chart-pie')){
      var ctx = document.querySelectorAll(".chart-pie");
      
        ctx.forEach(function(ctx) {
          ctx.innerHTML = "";
      
          var chartPie = new ApexCharts(ctx, {
            chart: {
               width: 380,
               type: 'donut',
             },
             dataLabels: {
               enabled: false
             },
             plotOptions: {
                pie: {
                  customScale: 1,
                  expandOnClick: false,
                  donut: {
                    size: "80%",
                  }
                },
              },
            legend: {
                position: "right",
                verticalAlign: "center",
                containerMargin: {
                  left: 35,
                  right: 60
                }
              },
             series: [66, 55, 13, 33],
             labels: ['Asia', 'USA', 'China', 'Africa'],
             colors: ['#00ab5599', '#00ab55', '#00ab5535', '#00ab5550'],
             donut: {
               size: "100%"
             },
             responsive: [
                {
                   breakpoint: 1550,
                   options: {
                     chart: {
                        width: 340,
                     },
                     legend: {
                         position: "bottom",
                         verticalAlign: "bottom",
                         containerMargin: {
                           left: 'auto',
                           right: 'auto'
                         }
                       },
                   }
                },
                {
                   breakpoint: 1450,
                   options: {
                     chart: {
                        width: 300,
                     },
                   }
                }
              ]
          });
          chartPie.render();
        });
      }
      
      if(document.querySelector('.chart-line')){
      var ctx2 = document.querySelectorAll(".chart-line");
        ctx2.forEach(function(ctx2) {
          new Chart(ctx2, {
              type: "line",
              data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Black Friday",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#00ab55",
                    borderWidth: 3,
                    backgroundColor: "transparent",
                    data: [20, 60, 20, 50, 90, 220, 440, 380, 500],
                    maxBarThickness: 6
                  },
                  {
                    label: "Autumn Sale",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#212b36",
                    borderWidth: 3,
                    backgroundColor: "transparent",
                    data: [30, 90, 40, 140, 290, 290, 240, 270, 230],
                    maxBarThickness: 6
                  },
                ],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                  display: false,
                },
                tooltips: {
                  enabled: true,
                  mode: "index",
                  intersect: false,
                },
                scales: {
                  yAxes: [{
                    gridLines: {
                      borderDash: [2],
                      borderDashOffset: [2],
                      color: '#dee2e6',
                      zeroLineColor: '#dee2e6',
                      zeroLineWidth: 1,
                      zeroLineBorderDash: [2],
                      drawBorder: false,
                    },
                    ticks: {
                      suggestedMin: 0,
                      suggestedMax: 500,
                      beginAtZero: true,
                      padding: 10,
                      fontSize: 11,
                      fontColor: '#adb5bd',
                      lineHeight: 3,
                      fontStyle: 'normal',
                      fontFamily: "Public Sans",
                    },
                  }, ],
                  xAxes: [{
                    gridLines: {
                      zeroLineColor: 'rgba(0,0,0,0)',
                      display: false,
                    },
                    ticks: {
                      padding: 10,
                      fontSize: 11,
                      fontColor: '#adb5bd',
                      lineHeight: 3,
                      fontStyle: 'normal',
                      fontFamily: "Public Sans",
                    },
                  }, ],
                },
              },
            });
        });
      
      }
      
      if(document.querySelector(".chart-line-1")){
      var ctx1 = document.querySelectorAll('.chart-line-1');
      
      ctx1.forEach(function(ctx1) {
          var gradientStroke1 = ctx1.getContext("2d").createLinearGradient(0, 230, 0, 50);
      
          gradientStroke1.addColorStop(1, 'rgba(7,43,174,0.4)');
          gradientStroke1.addColorStop(0, 'rgba(7,43,174,0.4)'); //purple colors
      
      
            new Chart(ctx1, {
              type: "line",
              data: {
                labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                  label: "Visitors",
                  tension: 0.5,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#072bae",
                  borderWidth: 4,
                  backgroundColor: gradientStroke1,
                  data: [50, 70, 60, 60, 80, 65, 90, 80, 100],
                  maxBarThickness: 6,
                  fill: true
                }],
              },
              options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                  display: false,
                },
                scales: {
                  yAxes: [{
                    gridLines: {
                      zeroLineColor: 'rgba(0,0,0,0)',
                      display: false
                    },
                    ticks: {
                      display: false,
                    },
                  }, ],
                  xAxes: [{
                    gridLines: {
                      zeroLineColor: 'rgba(0,0,0,0)',
                      display: false,
                    },
                    ticks: {
                      display: false
                    },
                  }, ],
                },
              },
            });
        });
      }
      
      
      if(document.querySelector(".chart-line-2")){ 
      
      var ctx2 = document.querySelectorAll('.chart-line-2');
      
        ctx2.forEach(function(ctx2) {
          var gradientStroke2 = ctx2.getContext("2d").createLinearGradient(0, 230, 0, 50);
      
          gradientStroke2.addColorStop(1, 'rgba(31,143,31,0.4)');
          gradientStroke2.addColorStop(0, 'rgba(31,143,31,0.4)'); //purple colors
      
          new Chart(ctx2, {
            type: "line",
            data: {
              labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                label: "Income",
                tension: 0.5,
                borderWidth: 0,
                pointRadius: 0,
                borderColor: "#1f8f14",
                borderWidth: 4,
                backgroundColor: gradientStroke2,
                data: [60, 80, 75, 90, 67, 100, 90, 110, 120],
                maxBarThickness: 6,
                fill: true
              }],
            },
            options: {
              responsive: true,
              maintainAspectRatio: true,
              legend: {
                display: false,
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    zeroLineColor: 'rgba(0,0,0,0)',
                    display: false
                  },
                  ticks: {
                    display: false,
                  },
                }, ],
                xAxes: [{
                  gridLines: {
                    zeroLineColor: 'rgba(0,0,0,0)',
                    display: false,
                  },
                  ticks: {
                    display: false
                  },
                }, ],
              },
            },
          });
        });
      }
      
      if(document.querySelector(".chart-bar-stacked")){ 
      
      var ctx3 = document.querySelectorAll('.chart-bar-stacked');
      
        ctx3.forEach(function(ctx3) {
      const data = {
        labels: [
          "2015",
          "2016",
          "2017",
          "2018",
          "2019",
          "2020"
        ],
        datasets: [
          {
            label: "Long",
            backgroundColor: "#0dcaf0",
      
            data: [
              9000,
              5000,
              5240,
              3520,
              2510,
              3652
            ]
          },
          {
            label: "Short",
            backgroundColor: "#5e72e4",
            data: [
              3000,
              4000,
              6000,
              3500,
              3600,
              8060
            ]
          },
          {
            label: "Spreading",
            backgroundColor: "#20c997",
            data: [
              6000,
              7200,
              6500,
              4600,
              3600,
              9200
            ]
          }
        ]
      };
      
      const options = {
        scales: {
          yAxes: [
             { 
                 stacked: true,  
                 ticks: { fontSize: 14, lineHeight: 3, fontColor: "#adb5bd" }, 
                 gridLines: { display: false }
           
              }],
          xAxes: [
            {
              stacked: true,
              ticks: {  fontSize: 14, lineHeight: 3, fontColor: "#adb5bd" }
            }
          ]
        }
      };
      
      const chart = new Chart(ctx3, {
        // The type of chart we want to create
        type: "bar",
        // The data for our dataset
        data: data,
        // Configuration options go here
        options: options
      }); 
      
      });
      }
      
      
      if(document.querySelector(".chart-sales")){
      var ctx4 = document.querySelectorAll('.chart-sales');
      
      ctx4.forEach(function(ctx4) {
       new Chart(ctx4, {
                                  type: "bar",
                                  data: {
                                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                    datasets: [{
                                      label: "Sales",
                                      tension: 0.4,
                                      borderWidth: 0,
                                      pointRadius: 0,
                                      backgroundColor: "#02a352",
                                      data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
                                      maxBarThickness: 6
                                    }, ],
                                  },
                                  options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    legend: {
                                      display: false,
                                    },
                                    tooltips: {
                                      enabled: true,
                                      mode: "index",
                                      intersect: false,
                                    },
                                    scales: {
                                      yAxes: [{
                                        gridLines: {
                                           
                                          display: false,
                                        },
                                        ticks: {
                                          suggestedMin: 0,
                                          suggestedMax: 500,
                                          beginAtZero: true,
                                          padding: 0,
                                          fontSize: 14,
                                          lineHeight: 3,
                                          fontColor: "#adb5bd"
                                        },
                                      }, ],
                                      xAxes: [{
       gridLines: {
                      offsetGridLines: false
                  },
                                        ticks: {
                                          padding: 20,
                                          fontColor: "#adb5bd"
                                        },
                                      }, ],
                                    },
                                  },
                                }); 
      });
      
      }
      
      
      if(document.querySelector(".chart-interest")){
      var ctx5 = document.querySelectorAll('.chart-interest');
      
      ctx5.forEach(function(ctx5) {
      new Chart(ctx5, {
        type: 'pie',
        data: {
          labels: ['OK', 'WARNING', 'CRITICAL', 'UNKNOWN'],
          datasets: [{
            label: '# of Tomatoes',
            data: [12, 19, 3, 5],
            backgroundColor: [
              'rgba(32, 201, 151, 0.5)',
              'rgba(111, 66, 193, 0.5)',
              'rgba(13, 202, 240, 0.5)',
              'rgba(251, 207, 51, 0.5)'
            ],
            borderColor: [
              'rgba(32, 201, 151, 0.5)',
              'rgba(111, 66, 193, 0.5)',
              'rgba(13, 202, 240, 0.5)',
               'rgba(251, 207, 51, 0.5)'
            ],
            borderWidth: 1
          }]
        },
        options: {
           //cutoutPercentage: 70,
          responsive: true,
      legend: {
                         position: "bottom",
                       },
      
        }
      }); 
      });
      }
      
      
      if(document.querySelector(".chart-social")){
      var ctx6 = document.querySelectorAll('.chart-social');
      
      ctx6.forEach(function(ctx6) {
      
      var data = {
          datasets: [{
              data: [
                  10,
                  60,
                  30,
                  20,
                  50
              ],
              backgroundColor: [
                  "#000000",
                  "#3B5998",
                  "#a6b1b7",
                  "#1da1f2",
                  "#bd081c"
              ],
              label: 'My dataset', // for legend
          }],
          labels: [
              "Blog",
              "Facebook",
              "Instagram",
              "Twitter",
              "Pinterest"
          ],
      };
      new Chart(ctx6, {
          data: data,
          type: 'polarArea',
          options: {
            legend: {
              display: false,
            },
            scale: {
              display: true
            }
          }
      }); 
      });
      }
      
      
      if(document.querySelector("#swiperHeader")){
        popupGallery = new Swiper('#swiperHeader', {
      
            grabCursor: true,
            keyboard: {
              enabled: true,
            },
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
            breakpoints: {
              640: {
                slidesPerView: 1,
                spaceBetween: 20,
              },
              768: {
                slidesPerView: 1.8,
                spaceBetween: 20,
              },
              1024: {
                slidesPerView: 4.5,
                spaceBetween: 20,
              },
            }
          }); 
      }
      
      });
  </script>
  <script src="../static/assets/js/loopple/loopple.js"></script>
  {% endblock %}