<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">

			<h1>Login</h1>

			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div>

			<form class="ajax-form" action="" method="post">

				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

				<label id="rememberme">
					<input type="checkbox" name="rememberme">Remember me
				</label>
				<a href="{{ url_for('forgotpassword') }}">Forgot Password?</a>

				<input type="hidden" name="token" value="{{ token }}">

				<div class="msg">{{ msg }}</div>

				<input type="submit" value="Login">

			</form>

		</div>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
</html>