<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/assets/css/theme.css">
    <link rel="stylesheet" href="../static/assets/css/loopple/loopple.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
 
</head>

<body class="null">
   
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
            <a class="navbar-brand w-8" href="#" data-config-id="brand">
                <img src="https://loopple.s3.eu-west-3.amazonaws.com/images/XhsZsReVgjs4n1Q0suoiEZ47JIu6ZPBW2N00ppMX.png" width="150" alt="">
            </a>

            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <li class="nav-item mx-2">
                        <a href="/home" class="nav-link ps-2 cursor-pointer">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/upload" class="nav-link ps-2 cursor-pointer">Build / Train</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/deploy_upload" class="nav-link ps-2 cursor-pointer">
                            Predict
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/templates" class="nav-link ps-2 cursor-pointer">
                            Templates
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/templates" class="nav-link ps-2 cursor-pointer">
                            Playground
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="{{ url_for('profile') }}" class="nav-link ps-2 cursor-pointer">
                            My Profile
                        </a>
                    </li>

                    {% if role == 'Admin' %}
                    <li class="nav-item mx-2">
                        <a href="{{ url_for('admin') }}" class="nav-link ps-2 cursor-pointer">
                            Admin Settings
                        </a>
                    </li>
                    {% endif %}

               
                    

                    <li class="nav-item ms-2">
                        <a href="{{ url_for('logout') }}" class="btn bg-gradient-danger mb-0">
                            Sign Out
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="row removable">
       
        {% block content %}{% endblock %}


    </div>


    <footer class="footer py-5 bg-gradient-dark position-relative overflow-hidden">
        <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-6">
        <div class="container position-relative z-index-1">
            <div class="row">
                <div class="col-lg-4 me-auto mb-lg-0 mb-4 text-lg-start text-center">
                    <h6 class="text-white font-weight-bolder text-uppercase mb-lg-4 mb-3">Dsstudio&nbsp; Pro</h6>
                    <ul class="nav flex-row ms-n3 align-items-center mb-4 mt-sm-0">
                        <li class="nav-item">
                            <a class="nav-link text-white opacity-8" href="javascript:;">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white opacity-8" href="javascript:;">
                                About
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white opacity-8" href="javascript:;">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white opacity-8" href="javascript:;">
                                Services
                            </a>
                        </li>
                    </ul>
                    <p class="text-sm text-white opacity-8 mb-0">
                        Copyright © <script>
                            document.write(new Date().getFullYear())
                        </script> Talentotal Systems.
                    </p>
                </div>
                <div class="col-lg-6 ms-auto text-lg-end text-center">
                    <p class="mb-5 text-lg text-white font-weight-bold">
                        The reward for getting on the stage is fame. The price of fame is you can’t get off the stage.
                    </p>
                    <a href="javascript:;" class="text-white me-xl-4 me-4 opacity-5">
                        <span class="fab fa-dribbble" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:;" class="text-white me-xl-4 me-4 opacity-5">
                        <span class="fab fa-twitter" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:;" class="text-white me-xl-4 me-4 opacity-5">
                        <span class="fab fa-pinterest" aria-hidden="true"></span>
                    </a>
                    <a href="javascript:;" class="text-white opacity-5">
                        <span class="fab fa-github" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://loopple.s3.eu-west-3.amazonaws.com/soft-ui-design-system/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>
  
    <script src="../static/assets/js/loopple/loopple.js"></script>
    
</body>