{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    
<section class="py-5 bg-light">
    <div class="container">

          <div class="row removable" style="align-items: center;">
              <div class="col-lg-12">
                  <div class="row removable">
                      <div class="col-lg-6">
                          <h2 class="">Get going with these pretrained templates to match your use case</h2>
                      </div>
                      <div class="col-lg-6"></div>
                  </div>
              </div>
          </div>
          <br><br>
          <div class="row removable">
              <div class="col-lg-12"></div>
          </div>
          <div class="row removable">
              <div class="col-lg-12">


              </div>
          </div>
          <div class="row removable">
              <div class="col-lg-3">
                  <div class="card card-background align-items-start h-100">
                      <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                      <div class="card-body text-center z-index-3">
                          <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">EMPLOYEES</p>
                          <h4 class="text-white mb-1">Nature's Light</h4>
                          <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                          <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                      </div>
                      <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="card card-background align-items-start h-100">
                      <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                      <div class="card-body text-center z-index-3">
                          <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                          <h4 class="text-white mb-1">Nature's Light</h4>
                          <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                          <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                      </div>
                      <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card card-background align-items-start h-100">
                      <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                      <div class="card-body text-center z-index-3">
                          <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                          <h4 class="text-white mb-1">Nature's Light</h4>
                          <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                          <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                      </div>
                      <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="card card-background align-items-start h-100">
                      <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                      <div class="card-body text-center z-index-3">
                          <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                          <h4 class="text-white mb-1">Nature's Light</h4>
                          <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                          <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                      </div>
                      <span class="mask bg-gradient-info border-radius-xl z-index-2 opacity-7"></span>
                  </div>
              </div>
          </div>
          <div class="row removable">
              <div class="col-lg-12">
                  <br></div>
          </div>
          <div class="row removable">
              <div class="col-lg-12">
                  <div class="row removable">
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">EMPLOYEES</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>

                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-warning border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-danger border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row removable">
              <div class="col-lg-12"><br></div>
          </div>
          <div class="row removable">
              <div class="col-lg-12">
                  <div class="row removable">
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">EMPLOYEES</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>

                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row removable">
              <div class="col-lg-12"><br></div>
          </div>
          <div class="row removable">
              <div class="col-lg-12">
                  <div class="row removable">
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">EMPLOYEES</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>

                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="card card-background align-items-start h-100">
                              <div class="full-background" style="background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/beach.jpg)"></div>
                              <div class="card-body text-center z-index-3">
                                  <p class="text-uppercase font-weight-bold opacity-8 text-xs mt-7">Landscape</p>
                                  <h4 class="text-white mb-1">Nature's Light</h4>
                                  <p class="text-white opacity-8">It really matters and then like it really doesnt matter. What matters is the people who are sparked by it.</p>
                                  <button class="btn btn-white btn-sm" type="button" name="button">Read More</button>
                              </div>
                              <span class="mask bg-gradient-primary border-radius-xl z-index-2 opacity-7"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
</section>
{% endblock %}