{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    
<section class="py-5 bg-light">
    <div class="container">
            <div class="row removable">
                <div class="col-lg-6">
                    <div class="row removable">
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-10">
                            <h2 class="text-gradient text-danger mb-0">Let's train a model for future use</h2>
                        </div>
                    </div>
                    <br>   <br>
                    <div class="row removable">
                        <div class="col-lg-12"></div>
                    </div>
                    <div class="row removable">
                        <div class="col-lg-12">
                            <form action="/datafile" method="POST" enctype="multipart/form-data">

                                <div class="text-dark">
                                    <p>Step 1: Upload Your CSV File</p>
                                    <input type="file" name="csvfile" id="csvfile">
                                </div>


                                <br>


                                <div class="text-dark">
                                    <p> Step 2: Enter a Template Name</p>
                                    <input type="text" name="modelname" placeholder="Enter model name" class="input">
                                </div>


                                <br>


                                <div class="text-dark">
                                    <p> Step 3: Process Your Data</p>
                                    <button class="btn bg-gradient-danger w-auto me-2" type="submit" onclick="$('#loading').show();">
                                        Train Now
                                    </button>
                                </div>

                                <div id="loading" style="display:none;"><img src="../static/assets/img/loadingimage.gif" alt="">Please wait while we train your data model...</div>





                                <br> <br>





                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card shadow-lg" style="margin-top:40px">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                            <div class="bg-gradient-danger shadow-danger border-radius-lg p-4">
                                <h4 class="text-white mb-0">What we are doing here</h4>

                            </div>
                        </div>
                        <div class="card-body p-sm-5 pt-0">

                            <div class="accordion" id="accordionFaq">
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="headingOne">
                                        <button class="accordion-button border-bottom font-weight-bold text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            What should be the file format?
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                        </button>
                                    </h6>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFaq" style="">
                                        <div class="accordion-body text-sm opacity-8">
                                            A CSV file format with two columns - the first one with the comments / text and the second with categories. For example: 
                                            <br><br>
                                            <img alt="Image placeholder" style="width:100%" src="../static/assets/img/CSV Screenshot.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button border-bottom font-weight-bold text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                           What is the row limit?
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                        </button>
                                    </h6>
                                    <div id="collapseTwo" class="accordion-collapse collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFaq" style="">
                                        <div class="accordion-body text-sm opacity-8">
                                            Depends on what you have! Somewhere between 30 rows to 10 thousand rows is a good training dataset.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mb-3">
                                    <h6 class="accordion-header" id="headingThree">
                                        <button class="accordion-button border-bottom font-weight-bold text-start collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Can I use this trained model on any other dataset?
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0" aria-hidden="true"></i>
                                        </button>
                                    </h6>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionFaq">
                                        <div class="accordion-body text-sm opacity-8">
                                            Of course yes. Predicting categories on similar datasets would yield highly accurate results though.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</section>
    {% endblock %}